@media only screen and (min-width: 769px) {
    #centerwrap {
    width: 1000px;
    margin: 0 auto;
    }
    .row {
        display: flex;
        justify-content: space-around;
    }
    .logo {
        padding-top: 30px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .row {
        display: flex;
        justify-content: space-around;
    }
    .logo {
        padding-top: 30px;
        width: 250px;
    }
}

@media only screen and(max-width: 480px) {
    .logo {
        width: 100px;
        padding-top: 20px;
    }
}
