@media only screen and (min-width: 769px){
    body{
        width: 1000px;
        margin: 0 auto;
    }
    .row {
        display: flex;
    }
    .col {
        width: 25%;
    }
    #last {
        padding-bottom: 50px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .row {
        display: flex;
    }
    .col {
        width: 25%;
        border-style: outset;
        border-width: 0.5px;
        border-color: black;
    }
    #last {
        padding-bottom: 50px;
    }
}

@media only screen and(max-width: 480px) {
    #last {
        padding-bottom: 15px;
    }
}
